.custom-card-title {
  cursor: pointer;
  color: #20a8d8;
  font-weight: bold;
  font-size: 16px;
}

.custom-card-title:hover {
  cursor: pointer;
  color: #1b8eb7;
  font-weight: bold;
  font-size: 16px;
}

.footer-text {
  font-size: 13px;
}