<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" style="font-weight: bold;font-size: 16px;">
      Welcome to Security Awareness and Examination
    </div>
    <div class="card-body">
      <p>
        Information security is everybody's buisnees. This application in entitled to establish a security baseline and understanding for secuirty challenges and understanding for employees, students, and staff of an orginzation.
        Your requested to finish the training by following the training material found in the preparation section on the left menu and then pass the test to be granted access to your IT facilities.
        
      </p>

      <img src="assets/img/poster.png" alt="Welcome">
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>
